<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="DataRetriever" type="WebService.DataRetrieverConfiguration, WebService"/>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <system.serviceModel>
    <bindings>
    </bindings>
    <services>
      <service name="WebService.WebService" behaviorConfiguration="">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8081/json"></add>
          </baseAddresses>
        </host>
        <endpoint address="" binding="webHttpBinding" contract="WebService.IWebService"></endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Default">
          <serviceMetadata httpGetEnabled="true"></serviceMetadata>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <DataRetriever>
    
    <settings 
      ModbusHostIP="10.150.225.126" ModbusHostPort="502" ModbusTcpIpTimeOut="500" ModbusSlaveId="1"
      SensorStatusBaseReg="1150" SensorStatusCount="28"
      SensorDevStatusBaseReg="1178" SensorDevStatusCount="28"
      CylinderStatusBaseReg="1206" CylinderStatusCount="14"
      CylinderDevStatusBaseReg="1220" CylinderDevStatusCount="14"
      SLEMStatusBaseReg="1234" SLEMStatusCount="1"
      WIOActivityStatusBaseReg="1235" WIOActivityStatusCount="1"
      AlarmShutdownLevelsBaseReg="2079" AlarmShutdownLevelsCount="5"
      
    />   
  </DataRetriever>

  <system.data>
    <DbProviderFactories>
      <clear />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data>

  <log4net>
    <logger name="Modbus.IO.ModbusIpTransport" additivity="false">
      <level value="OFF" />
    </logger>

    <root>
      <level value="DEBUG"/>
      <appender-ref ref="FileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>

    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="Framework.txt"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger %method - %message%newline"/>
      </layout>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger %method - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO"/>
      </filter>
    </appender>
  </log4net>
</configuration>
