<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <section name="modbusServer" type="System.Configuration.AppSettingsSection"/>
  </configSections>

  <modbusServer>
    <!-- Internal COM port configuration settings -->
    <add key="Bearingenable"     value="1" />
    <add key="InternalComPort"   value="COM8" />
    <add key="InternalBaudRate"  value="115200" />
    <add key="InternalParity"    value="0" />
    <add key="InternalDataBits"  value="8" />
    <add key="InternalStopBits"  value="1" />

    <!-- External COM port configuration settings -->
    <add key="ExternalComEnable" value="0" />
    <add key="ExternalComPort"   value="COM6" />
    <add key="ExternalBaudRate"  value="38400" />
    <add key="ExternalParity"    value="0" />
    <add key="ExternalDataBits"  value="8" />
    <add key="ExternalStopBits"  value="1" />

    <!-- Temperature COM port configuration settings -->
    <add key="Tempenable"        value="0" />
    <add key="TempComPort"       value="COM9" />
    <add key="TempBaudRate"      value="19200" />
    <add key="TempParity"        value="0" />
    <add key="TempDataBits"      value="8" />
    <add key="TempStopBits"      value="1" />

    <!-- RTU settings -->
    <add key="RTUReadTimeout"    value="3000" />
    <add key="RTUWriteTimeout"   value="3000" />
    <add key="Attempts"          value="5" />
    <add key="Throttle"          value="10" />
  </modbusServer>

</configuration>
