<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BaseCbmServiceWebServiceSoap">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>      
    </bindings>
    <client>
      <endpoint binding="basicHttpBinding" bindingConfiguration="BaseCbmServiceWebServiceSoap"
                contract="BaseCbmServiceWebServiceSoap" name="BaseCbmServiceWebServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>