<?xml version="1.0"?>
<configuration>
  <configSections>

    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>

  </configSections>
  <appSettings>
    <!-- Configuration for the app.config files location -->    
    <add key="DataLogger" value="c:\AMOT\Logger\Framework.exe"/>
    <add key="Server" value="c:\AMOT\Server\ModbusServer.exe"/>
    <add key="Website" value="c:\AMOT\Website"/>
    <add key="UpdateFolder" value="d:\Updates"/>
    <add key="UpdateWebsite" value="c:\AMOT\UpdateWebsite"/>
    <add key="Hide" value="false"/>
    <add key="IISConfig" value ="c:\AMOT\iisconfig\applicationhost.config"/>
    <add key="IISStarter" value ="c:\AMOT\iisstarter.exe"/>
  </appSettings>

  <log4net>
    <root>
      <level value="debug"/>
      <appender-ref ref="FileAppender"/>
    </root>

    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="d:\log\launcher.txt" />
      <appendToFile value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
  </log4net>

  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
