<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="SPUDataCollectionPlugin" type="Configuration.SPUDataCollectionConfigSection, Configuration"/>
    <section name="ModbusRegisters" type="ModbusDb.ModbusDbRegistersSection, ModbusDb"/>
    <section name="DataCollectionSDK" type="DataCollectionSDK.DataCollectionConfigurationSection, DataCollectionSDK"/>
    <section name="WebService" type="WebService.WebServiceConfiguration, WebService"/>
    <section name="EngineLearnPlugin" type="Configuration.EngineLearnConfiguration, Configuration"/>
    <section name="GLMachineMeasurementPlugin" type="Configuration.GLMachineMeasurementConfiguration, Configuration"/>
    <section name="SensorReplacementPlugin" type="Configuration.SensorReplacementPluginConfigSection, Configuration"/>
    <section name="TemperaturePlugin" type="Configuration.TemperaturePluginConfigSection, Configuration"/>
  </configSections>

  <appSettings>
    <!-- Configuration for the app.config files location -->
    <add key="ConfigFile" value="Framework.exe.config"/>
    <add key="PluginVersionNumbers" value="d:\versionnumbers.txt"/>
    <add key="ServerVersionNumbers" value="d:\modbuserverversion.txt"/>
    <add key="reports" value="d:\reports\"/>
    <add key="CylinderReversed" value="false"/>
    <add key="BearingWearMeasuring" value="true"/>
    <add key="TemperatureMeasuring" value="false"/>
  </appSettings>

  <!-- Settings for the ModbusClientPlugin -->
  <SPUDataCollectionPlugin>
    <settings RunSchedule="5000" LogSchedule="7500" DbDeletePeriod="15724800" ModbusAddress="127.0.0.1" ModbusPort="1502"/>
  </SPUDataCollectionPlugin>

  <WebService>
    <settings SensorStatusBaseReg="1178" SensorStatusCount="28" SensorDevStatusBaseReg="1206" SensorDevStatusCount="28" CylinderStatusBaseReg="1234" CylinderStatusCount="14" CylinderDevStatusBaseReg="1248" CylinderDevStatusCount="14" SLEMStatusBaseReg="1262" SLEMStatusCount="1" WIOActivityStatusBaseReg="1263" WIOActivityStatusCount="1" AlarmShutdownLevelsBaseReg="2079" AlarmShutdownLevelsCount="5"/>
  </WebService>

  <EngineLearnPlugin>
    <settings RunSchedule="10000" SpeedCompDirectory="d:\exports\"/>
  </EngineLearnPlugin>

  <DataCollectionSDK>
    <Database TrendConfiguration="d:\database\amot_xtsii_trendconfig.db3" 
              DataLogger="d:\database\amot_xtsii_data.db3" 
              EventLog="d:\database\amot_xtsii_event.db3" 
              UsersDb="d:\database\amot_xtsii_users.db3" 
              SensorReplacement="d:\database\amot_xtsii_sensorreplace.db3"
              CommStats="d:\database\amot_xtsii_commstats.db3"
              ConfigurationDb="d:\database\amot_xtsii_config.db3"
              DbRetryDuration="250"
              DbRetryCount="3"
              DbExportTransactionSize="10000"
              TempFolder="d:\temp"
              ClearedAlarmTime="24"
              LogsPerRequest="100"
              RIALocation="c:\AMOT\Website\Content\xtsw\xts.xap"
              />
    <Modbus ModbushostIP="127.0.0.1" ModbusExternalHostPort="3502" ModbusInternalHostPort="1502" ModbusTemperatureHostPort="2502" ModbusTCPIPTimeout="60000" ModbusSlaveUnitId="1" PreferInternal="false"/>
  </DataCollectionSDK>

  <GLMachineMeasurementPlugin>
    <!-- 21600000 milliseconds is equal to 6 hours-->
    <settings RunSchedule="21600000" TempPath="d:\temp\"/>
  </GLMachineMeasurementPlugin>


  <SensorReplacementPlugin>
    <settings NumberOfRecords50Hours="18000" NumberOfRecords500Hours="180000"/>
  </SensorReplacementPlugin>

  <TemperaturePlugin>
    <settings NumberOfSensors="28" RtdNumberPerModule="4" BarScaleTemperature="500" BarScaleTemperatureDev="200" TemperatureAlarm="50" TemperatureSlowdown="200" TemperatureDevAlarm="30" TemperatureDevSlowdown="50"/>
  </TemperaturePlugin>
  
  <system.serviceModel>
    <bindings>
    </bindings>
    <services>
      <service name="WebService.WebService" behaviorConfiguration="">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8081"></add>
          </baseAddresses>
        </host>
        <endpoint address="" binding="webHttpBinding" contract="WebService.WebService" behaviorConfiguration="RESTEndpointBehavior"></endpoint>
      </service>
      <service name="ReportsPlugin.ReportsPluginService" behaviorConfiguration="">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8081/reports"></add>
          </baseAddresses>
        </host>
        <endpoint address="" binding="webHttpBinding" contract="ReportsPlugin.ReportsPluginService" behaviorConfiguration="RESTEndpointBehavior"></endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Default">
          <serviceMetadata httpGetEnabled="true"></serviceMetadata>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="RESTEndpointBehavior">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>

  <system.runtime.caching>
    <memoryCache>
      <namedCaches>
        <add name="Default" physicalMemoryLimitPercentage="10"/>
      </namedCaches>
    </memoryCache>
  </system.runtime.caching>

  <ModbusRegisters>
    <register startreg="59" endreg="86" description="Sensor values" type="int16" table="senValComp">
      <field name="comp1a"/>
      <field name="comp1b"/>
      <field name="comp2a"/>
      <field name="comp2b"/>
      <field name="comp3a"/>
      <field name="comp3b"/>
      <field name="comp4a"/>
      <field name="comp4b"/>
      <field name="comp5a"/>
      <field name="comp5b"/>
      <field name="comp6a"/>
      <field name="comp6b"/>
      <field name="comp7a"/>
      <field name="comp7b"/>
      <field name="comp8a"/>
      <field name="comp8b"/>
      <field name="comp9a"/>
      <field name="comp9b"/>
      <field name="comp10a"/>
      <field name="comp10b"/>
      <field name="comp11a"/>
      <field name="comp11b"/>
      <field name="comp12a"/>
      <field name="comp12b"/>
      <field name="comp13a"/>
      <field name="comp13b"/>
      <field name="comp14a"/>
      <field name="comp14b"/>
    </register>

    <register startreg="88" endreg="115" description="Sensor deviation values" type="int16" table="senDevComp">
      <field name="dev1a"/>
      <field name="dev1b"/>
      <field name="dev2a"/>
      <field name="dev2b"/>
      <field name="dev3a"/>
      <field name="dev3b"/>
      <field name="dev4a"/>
      <field name="dev4b"/>
      <field name="dev5a"/>
      <field name="dev5b"/>
      <field name="dev6a"/>
      <field name="dev6b"/>
      <field name="dev7a"/>
      <field name="dev7b"/>
      <field name="dev8a"/>
      <field name="dev8b"/>
      <field name="dev9a"/>
      <field name="dev9b"/>
      <field name="dev10a"/>
      <field name="dev10b"/>
      <field name="dev11a"/>
      <field name="dev11b"/>
      <field name="dev12a"/>
      <field name="dev12b"/>
      <field name="dev13a"/>
      <field name="dev13b"/>
      <field name="dev14a"/>
      <field name="dev14b"/>
    </register>

    <register startreg="256" endreg="269" description="Cylinder values" type="int16" table="CylAveComp">
      <field name="cylav1"/>
      <field name="cylav2"/>
      <field name="cylav3"/>
      <field name="cylav4"/>
      <field name="cylav5"/>
      <field name="cylav6"/>
      <field name="cylav7"/>
      <field name="cylav8"/>
      <field name="cylav9"/>
      <field name="cylav10"/>
      <field name="cylav11"/>
      <field name="cylav12"/>
      <field name="cylav13"/>
      <field name="cylav14"/>
    </register>

    <register startreg="270" endreg="283" description="Cylinder deviation valuess" type="int16" table="CylDevComp">
      <field name="cyldev1"/>
      <field name="cyldev2"/>
      <field name="cyldev3"/>
      <field name="cyldev4"/>
      <field name="cyldev5"/>
      <field name="cyldev6"/>
      <field name="cyldev7"/>
      <field name="cyldev8"/>
      <field name="cyldev9"/>
      <field name="cyldev10"/>
      <field name="cyldev11"/>
      <field name="cyldev12"/>
      <field name="cyldev13"/>
      <field name="cyldev14"/>
    </register>

    <register startreg="382" endreg="382" description="Modal RPM" type="uint16" table="Rpm">
      <field name="rpm1"/>
    </register>

    <register startreg="1036" endreg="1036" description="Engine Direction" type="uint16" table="Rpm">
      <field name="direction"/>
    </register>

    <register startreg="472" endreg="472" description="SLEM value" type="uint16" table="SLEM">
      <field name="slemmv"/>
    </register>

    <register startreg="468" endreg="470" description="WIO Act/PPM/Temp" type="int16" table="WaterInOil">
      <field name="wateractivity"/>
      <field name="ppm"/>
      <field name="temp"/>
    </register>

    <register startreg="2071" endreg="2072" description="Engine runtime" type="uint32" table="RunTime">
      <field name="runtime"/>
    </register>

    <register startreg="4734" endreg="4747" description="Cylinder sum per cylinder" type="int16" table="CylSum">
      <field name="cylsum1"/>
      <field name="cylsum2"/>
      <field name="cylsum3"/>
      <field name="cylsum4"/>
      <field name="cylsum5"/>
      <field name="cylsum6"/>
      <field name="cylsum7"/>
      <field name="cylsum8"/>
      <field name="cylsum9"/>
      <field name="cylsum10"/>
      <field name="cylsum11"/>
      <field name="cylsum12"/>
      <field name="cylsum13"/>
      <field name="cylsum14"/>
    </register>

    <register startreg="4748" endreg="4761" description="MB neighbour sum per cylinder" type="int16" table="MBNSum">
      <field name="mbnsum1"/>
      <field name="mbnsum2"/>
      <field name="mbnsum3"/>
      <field name="mbnsum4"/>
      <field name="mbnsum5"/>
      <field name="mbnsum6"/>
      <field name="mbnsum7"/>
      <field name="mbnsum8"/>
      <field name="mbnsum9"/>
      <field name="mbnsum10"/>
      <field name="mbnsum11"/>
      <field name="mbnsum12"/>
      <field name="mbnsum13"/>
      <field name="mbnsum14"/>
    </register>

    <register startreg="4706" endreg="4733" description="Reference value per channel" type="int16" table="RefValues">
      <field name="refv1a"/>
      <field name="refv1b"/>
      <field name="refv2a"/>
      <field name="refv2b"/>
      <field name="refv3a"/>
      <field name="refv3b"/>
      <field name="refv4a"/>
      <field name="refv4b"/>
      <field name="refv5a"/>
      <field name="refv5b"/>
      <field name="refv6a"/>
      <field name="refv6b"/>
      <field name="refv7a"/>
      <field name="refv7b"/>
      <field name="refv8a"/>
      <field name="refv8b"/>
      <field name="refv9a"/>
      <field name="refv9b"/>
      <field name="refv10a"/>
      <field name="refv10b"/>
      <field name="refv11a"/>
      <field name="refv11b"/>
      <field name="refv12a"/>
      <field name="refv12b"/>
      <field name="refv13a"/>
      <field name="refv13b"/>
      <field name="refv14a"/>
      <field name="refv14b"/>
    </register>

    <register startreg="4774" endreg="4779" description="Alarm level single 1" type="int16" table="DynAlarm">
      <field name="single1"/>
      <field name="cylsum1"/>
      <field name="mbnsum1"/>
      <field name="single2"/>
      <field name="cylsum2"/>
      <field name="mbnsum2"/>
    </register>

    <register startreg="1" endreg="28" description="Temperature sensor values" type="int16" table="temperature">
       <field name="temp1"/>
      <field name="temp2"/>
      <field name="temp3"/>
      <field name="temp4"/>
      <field name="temp5"/>
      <field name="temp6"/>
      <field name="temp7"/>
      <field name="temp8"/>
      <field name="temp9"/>
      <field name="temp10"/>
      <field name="temp11"/>
      <field name="temp12"/>
      <field name="temp13"/>
      <field name="temp14"/>
      <field name="temp15"/>
      <field name="temp16"/>
      <field name="temp17"/>
      <field name="temp18"/>
      <field name="temp19"/>
      <field name="temp20"/>
      <field name="temp21"/>
      <field name="temp22"/>
      <field name="temp23"/>
      <field name="temp24"/>
      <field name="temp25"/>
      <field name="temp26"/>
      <field name="temp27"/>
      <field name="temp28"/>
    </register>

    <register startreg="4638" endreg="4639" description="Engine load" type="int16" table="cpp">
      <field name="mA"/>
      <field name="percent"/>
    </register>
  </ModbusRegisters>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <log4net>
    <logger name="Modbus.IO.ModbusIpTransport" additivity="false">
      <level value="OFF"/>
    </logger>

    <root>
      <level value="WARN"/>
      <appender-ref ref="RollingFileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>

    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="d:\log\datalogger.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="5000KB"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="&#13;&#10;[Session starts]&#13;&#10;"/>
        <param name="Footer" value="&#13;&#10;[Session ends]&#13;&#10;"/>
        <conversionPattern value="%date %-5level %logger %method - %message%newline"/>
      </layout>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger %method - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO"/>
      </filter>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="White, HighIntensity" />
      </mapping>
      <mapping>
        <level value="FATAL" />
        <foreColor value="Purple, HighIntensity" />
      </mapping>
    </appender>
  </log4net>

  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data>

  <runtime>
    <loadFromRemoteSources enabled="true"/>
  </runtime>

</configuration>
